* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    scroll-behavior: smooth;
}

/* header */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #cfe6ee;
    padding: 5px 30px;
    position: fixed;
    gap: 10px;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* navbar kiri */
.navbar-container .left-navbar {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.navbar-container .left-navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex: 1;
}

/* navbar kanan */
.navbar-container .right-navbar ul {
    display: flex;
    width: 830px; /* ini untuk mengecilkan gap sisi kanan */
    margin-left: 100px;
    padding: 0px;
    justify-content: flex-end;
    list-style: none;
    gap: 4rem;
}

.navbar-container .right-navbar ul li a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3 ease;
    transition-duration: 300ms;
    position: relative;
}

.right-navbar ul li a:hover {
    color: crimson;
    background-color: rgba(0, 0, 255, 0);
}

/* content (isi) */
.hero {
    background-image: url('../asset/img/background homepage/1. Banner (tentang kami).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 30px;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* overlay gelap */
    z-index: 0;
}

.hero-text {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 80px;
    position: relative;
    color: whitesmoke;
    z-index: 1;
}

.hero-text .head {
    margin-top: 0px;
    font-family: 'Dancing Script';
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 10px;
    font-size: 100px;
    font-weight: 900;
}

.hero-text h1:nth-child(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
    padding-top: 10px;
}

.hero-text h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 30px;
}

/* visi misi */
.visi-misi {
    display: flex;
    font-family: 'GFS Didot', serif;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 60px 10%;
    
}

.visi-misi .card {
    flex: 1;
    height: 200px;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.8);
    transition: all 0.3s ease;
}

.visi-misi .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 36px rgba(0,0,0,0.15);
}

.visi-misi .card h2 {
    font-family: 'GFS Didot', serif;
    text-align: center;
    margin-bottom: 20px;
}

.visi-misi .card p {
    font-family: 'Playpen Sans', cursive;
    text-align: justify;
    line-height: 1.8;
}

/* cerita kami */
.our-stories {
    background-color: beige;
    padding: 40px 100px 30px 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    line-height: 1.7;
    font-size: 1.0rem;
}

.our-stories h1 {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* pelayanan kami */
.pelayanan-kami {
    background-image: url('../asset/img/VidBumperYMP3-ezgif.com-gif-maker.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 120px;
    width: 100%;
    height: 300px;
    position: relative;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.pelayanan-kami h1 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    z-index: 1;
}

.pelayanan-kami::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* overlay gelap */
    z-index: 0;
}

/* content preview */
.aktivitas-container {
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 7rem;
    z-index: 1;

}

.aktivitas-container .card {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50;
}

.aktivitas-container .card img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.5s ease;
    z-index: 1;
}

/* membuat tulisan ditampilkan diatas gambar */
.aktivitas-container .caption {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: blueviolet;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 21px;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;

}

.aktivitas-container .card:hover img {
    transform: scale(1.2);
    cursor: pointer;
}

.aktivitas-container .card:hover .caption {
    top: -80px;
    opacity: 1;
}

.values {
    background-image: url('../../asset/img/background homepage/1. Banner (tentang kami).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 24px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 120px;
    width: 100%;
    height: 400px;
    position: relative;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.values::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* overlay gelap */
    z-index: 0;
}

.our-value-section .our-value-title {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    z-index: 1;
}

.our-value-section .our-value-icons {
    display: flex;
    gap: 100px;
    justify-content: center;;
    padding-bottom: 80px;
}

.our-value-section .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 50;
}

.our-value-section .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.5s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

/* membuat tulisan ditampilkan diaatas gambar */
.our-value-section .caption {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: blueviolet;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;

}

.our-value-section .card:hover img {
    transform: scale(1.2);
    cursor: pointer;
}

.our-value-section .card:hover .caption {
    top: -55px;
    opacity: 1;
}

.our-value-section-2 .our-value-icons {
    display: flex;
    gap: 100px;
    justify-content: center;;
    padding-bottom: 80px;
}

.our-value-section-2 .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 50;
}

.our-value-section-2 .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.5s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

/* membuat tulisan ditampilkan diaatas gambar */
.our-value-section-2 .caption {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: blueviolet;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;

}

.our-value-section-2 .card:hover img {
    transform: scale(1.2);
    cursor: pointer;
}

.our-value-section-2 .card:hover .caption {
    top: -55px;
    opacity: 1;
}

/* footer */
.footer {
    /* margin-top: 60px; */
    background-color: #f2f4f7;
    padding: 40px 50px 40px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

.footer-container {
    max-width: 1200px;
    width: 1000px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.footer-logo {
    max-width: 120px;
    margin-bottom: 15px;
}

.footer-col {
    width: 300px;
    margin-right: 0px;
    /* margin-top: 50px; */
}

.footer-col-2 {
    width: 300px;
    /* margin-top: 5px; */
    margin-left: 110px;
}

.footer h4 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer p {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.6;
}


/* social link */
.social-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.social-link .follow-us {
    margin-bottom: 10px;
    padding-bottom: 25px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    list-style: none;
}

.social-link .card {
    position: relative;
    flex-direction: row;
    gap: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-link .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.5s ease;
    z-index: 1;
}


/* membuat tulisan ditampilkan diaatas gambar */
.social-link .caption {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: blue;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;

}


.social-link .card:hover img {
    transform: scale(1.2);
    cursor: pointer;
}

.social-link .card:hover .caption {
    top: -55px;
    opacity: 1;
}

